!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title SampleMN
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %div{class: "content"}
      %header
        =link_to root_path target: "_self" do
          = image_tag "https://news.walkerplus.com/article/139569/782863_615.jpg", class: "logo", size: "120x50"
        %form.form4{:action => "自分のサイトURL", :method => "get"}
          %input.sbox4{:name => "s", :placeholder => "キーワードから探す", :type => "text"}/
          %button.sbtn4{:type => "submit"}
            %i.fa.fa-search.fa-lg
        %div{class: "nave-bar"}
          %div{class: "category_box"}
            =link_to "カテゴリ1", root_path, class: "btn-1"
            =link_to "カテゴリ2", root_path, class: "btn-2"
          %div{class: "log_in"}
            =link_to "ログイン", root_path, class: "btn-1"
            =link_to "ログアウト", root_path, class: "btn-2"
        %nav{class: "bread-crumbs"}
          ここに現在のページの場所を表示する
      = yield
      %footer
        連絡先等の情報をここに記述する
